.ls-widget {
	background: #2f415d;
	font-family: 'DejaVu Sans Mono', Consolas, Menlo, monospace;
	font-size: 10px;
	color: #fff;
	border-radius: 2px;
	padding: 0 7px;
	line-height: 1.5;
	z-index: 2;
}

.ls-widget:before {
	position: absolute;
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	left: -3px;
	top: 4px;
	background: inherit;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ls-widget__label {
	max-width: 150px;
	-ms-text-overflow: ellipsis;
	margin-top: 0.3em;
	margin-left: 8px;
}

.ls-mixin-call__name {
	margin-top: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ls-mixin-call__name:first-child {
	margin-top: 0;
}

.ls-mixin-call__property-name:after {
	content: ': ';
}

.ls-mixin-call__property-value:after {
	content: ';';
}

.ls-mixin-call__section-name:after {
	content: ' {';
}

.ls-mixin-call__section-body {
	padding-left: 10px;
}

.ls-mixin-call__section-body:after {
	content: '}';
	margin-left: -10px;
}

.ls-widget__variable-suggest {
	margin-left: 7px;
	margin-top: 3px;
	z-index: 5;
}

.ls-widget__variable-suggest:not([data-active])::after {
	display: inline-block;
	content: '+';
	background: inherit;
	position: absolute;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	top: 0em;
	text-align: center;
	line-height: 1.3;
	left: -0.4em;
}

.ls-widget__variable-suggest:not([data-active])::before,
.ls-widget__variable-suggest:not([data-active]) > div {
	display: none;
}

.ls-suggestion {
	white-space: nowrap;
	padding: 3px 7px;
	margin: 0 -7px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.ls-suggestion:hover {
	background: rgba(255, 255, 255, 0.1);
}

.ls-suggestion__preview {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 2px;
	margin-right: 5px;
	width: 15px;
	height: 1em;
	line-height: 1;
	text-align: center;
}

.ls-suggestion__preview:not([data-exact])::before {
	content: '≈';
	opacity: .5;
}

.ls-suggestion__name {
	font-weight: bold;
}

.ls-suggestion__name:after {
	content: ' : ';
}

.ls-widget__outline {
	font-size: 13px;
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 5;
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 0;
}

.ls-widget__outline:before {
	display: none;
}

.ls-outline__search {
	display: block;
	padding: 7px;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	width: 100%;
	background-color: transparent;
	color: #fff;
	outline: none;
	font-size: 1.2em;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}

.ls-outline__switch {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.ls-outline__switch-label {
	display: inline-block;
	padding: 5px;
}

.ls-outline__sections {
	width: 300px;
	max-height: 300px;
	overflow: auto;
	font-size: 0.8em;
}

.ls-outline__section {
	display: none;
	padding: 7px;
	overflow: hidden;
}

.ls-outline__section_active {
	display: block;
}

.ls-outline__node-label {
	display: block;
	position: relative;
	cursor: default;
	cursor: pointer;
}

.ls-outline__node_selected > .ls-outline__node-label::before,
.ls-outline__node-label:hover::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -50%;
	width: 200%;
	background: rgba(255, 255, 255, 0.2);
}

.ls-outline__node:not([data-type="property"]) > .ls-outline__node-label {
	font-weight: bold;
}

.ls-outline__node-body {
	padding-left: 20px;
}