.ls-widget {
	background: #2f415d;
	font-family: 'DejaVu Sans Mono', Consolas, Menlo, monospace;
	font-size: 10px;
	color: #fff;
	border-radius: 2px;
	padding: 0 7px;
	line-height: 1.5;
	z-index: 2;
}

.ls-widget:before {
	position: absolute;
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	left: -3px;
	top: 4px;
	background: inherit;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ls-widget__label {
	max-width: 150px;
	-ms-text-overflow: ellipsis;
	margin-top: 0.3em;
	margin-left: 8px;
}

.ls-mixin-call__name {
	margin-top: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ls-mixin-call__name:first-child {
	margin-top: 0;
}

.ls-mixin-call__property-name:after {
	content: ': ';
}

.ls-mixin-call__property-value:after {
	content: ';';
}

.ls-mixin-call__section-name:after {
	content: ' {';
}

.ls-mixin-call__section-body {
	padding-left: 10px;
}

.ls-mixin-call__section-body:after {
	content: '}';
	margin-left: -10px;
}

.ls-widget__variable-suggest {
	margin-left: 7px;
	margin-top: 3px;
	z-index: 5;
}

.ls-widget__variable-suggest:not([data-active])::after {
	display: inline-block;
	content: '+';
	background: inherit;
	position: absolute;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	top: 0em;
	text-align: center;
	line-height: 1.3;
	left: -0.4em;
}

.ls-widget__variable-suggest:not([data-active])::before,
.ls-widget__variable-suggest:not([data-active]) > div {
	display: none;
}

.ls-suggestion {
	white-space: nowrap;
	padding: 3px 7px;
	margin: 0 -7px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.ls-suggestion:hover {
	background: rgba(255, 255, 255, 0.1);
}

.ls-suggestion__preview {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 2px;
	margin-right: 5px;
	width: 15px;
	height: 1em;
	line-height: 1;
	text-align: center;
}

.ls-suggestion__preview:not([data-exact])::before {
	content: '~';
	opacity: .5;
}

.ls-suggestion__name {
	font-weight: bold;
}

.ls-suggestion__name:after {
	content: ' : ';
}